// input
//     outline: none

// body
//     background-color: #988989

// .finances
//     padding-top: 50px

// .statistics
//     button
//         border-radius: 10px
//         border: none
//         background-color: #eeecec
//         padding: 5px
//     button:hover
//         background-color: #cacaca

// .container
//     display: block
//     width: 1440px
//     margin: 0 auto
// .wrapper
//     display: flex
//     flex-direction: column
//     justify-content: center
//     align-items: center
//     margin: 0 auto
//     margin-top: 50px
//     width: 400px
//     height: 400px
//     background-color: #cacaca
//     border-radius: 10%
//     &__finances
//         display: flex
//         flex-direction: column
//     &__input-fields
//         display: flex
//         flex-direction: column
//     &__buttons
//         display: flex
//         justify-content: space-between
//         width: 300px


// .js-add-income, .js-add-expense
//     margin-top: 5px
//     width: 145px
//     height: 30px
//     border: solid 1px #000

// .js-add-income
//     background-color: #4fef5286

// .js-add-expense
//     background-color: #fd434357
  


@import ../sass/addons/mixins
*
    font-family: 'Montserrat', sans-serif

body
    background: #253142 url('../images/backgrounds/main_bg.png') center center/cover no-repeat

.header
    padding: 25px
    &__nav
        @include wrapper
        align-items: center
        height: 30px
    &__logoWrapper
        @include wrapper
        width: 228px
        align-items: center
    &__logo
        width: 150px
    &__themeSwitcher
        display: flex
        width: 62px
        padding: 6px
        align-items: center
        background-color: #172333
        background: #172333 url(../icons/theme.svg) center center no-repeat
        border-radius: 100px
        &__switcher
            width: 22px
            height: 22px
            background-color: #fff
            border-radius: 100%
    &__signInWrapper
        @include wrapper
        width: 206px
        height: 30px
        align-items: center
    &__languageSwitcher
        @include wrapper
        align-items: center
        width: 102px
        height: 30px
        padding: 5px 10px
        background: rgba(80, 110, 131, 0.2)
        border-radius: 80px
        hr
            height: 20px
            border: 1px solid #FFFFFF
    &__language
        font-weight: 600
        font-size: 12px
        text-transform: uppercase
        color: rgba(255,255,255,0.3)
        &_active
            font-weight: 700
            font-size: 12px
            color: #fff
    &__signIn
        background: linear-gradient(73.87deg, rgba(5, 126, 251, 0.9) 4.86%, rgba(13, 240, 255, 0.9) 97.42%)
        box-shadow: inset 0px -4px 12px rgba(0, 0, 0, 0.22), inset 0px 1px 2px rgba(239, 232, 232, 0.6)
        border: none
        border-radius: 10px
        width: 85px
        height: 30px
        padding: 2px 16px
        @include wrapper
        align-items: center
        &__text
            color: #394149
            font-weight: 500
            font-size: 13px
    .signInWindow
        width: 700px
        height: 500px
        border-radius: 20px
        display: none
        position: fixed
        z-index: 1
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        background: rgba(255, 255, 255, 0.06) url(../images/backgrounds/modal_bg) center center/cover no-repeat
        box-shadow: inset 0px 1px 2px rgba(239, 232, 232, 0.6)
        backdrop-filter: blur(15px)
        &__content
            width: 500px
            height: 300px
            margin: 0 auto
            margin-top: 86px
        &__title
            font-weight: 700
            font-size: 40px
            text-align: center
            color: #fff
        &__form
            display: flex
            flex-direction: column
            &>*
                margin-top: 25px
            input[type='email'], input[type='password']
                @include inputField
                width: 100%
                height: 55px
            .wrapper
                @include wrapper
                width: 100%
                .innerWrapper
                    @include wrapper
                    width: 275px
                #signInBtn
                    @include modalBtn
                #regBtn
                    @include modalBtn
                    width: 150px
        .restorePassword
            font-weight: 500
            font-size: 14px
            width: 120px
            color: #fff
            align-self: end
        .closeBtn
            width: 24px
            height: 24px
            margin-left: auto
            margin-right: 10px
            margin-top: 10px
            position: relative
            &:hover
                cursor: pointer 
                .line 
                    background-color: #DE282C
            .line 
                width: 100%
                top: 50%
                left: 50%
                height: 2px
                position: absolute
                background-color: #faf9f978
                transition: transform 0.3s ease
            .line-1 
                transform: translate(-50%, -50%) rotate(45deg)
            .line-2 
                transform: translate(-50%, -50%) rotate(-45deg)
.statistics
    min-height: 1080px
    padding: 25px
    @include wrapper
    .container
        width: 1500px
    &__buttons
        height: 150px
        background: rgba(23, 35, 51, 0.3)
        border-radius: 15px
        display: flex
        justify-content: center
        align-items: center
        .wrapper
            width: 1000px
            @include wrapper
            .getStats
                width: 200px
                height: 50px
                background: linear-gradient(180deg, rgba(44, 144, 247, 0.2) 0%, rgba(0, 0, 0, 0) 100%)
                border-radius: 6px
                border: 2px solid #2C90F7
                font-weight: 500
                font-size: 14px
                color: #fff
    &__filter
        margin-top: 20px
        background: rgba(23, 35, 51, 0.3)
        border-radius: 15px
        height: 70px
        @include wrapper
        align-items: center
        padding: 13px 20px
        .wrapper
            @include wrapper
            width: 110px
        &__el
            text-transform: uppercase
            font-weight: 500
            font-size: 12px
            color: #fff
            background: none
            border: none
    &__search
        display: flex
        align-items: center
        width: 430px
        height: 44px
        padding: 10px 0px 10px 20px
        background: rgba(255, 255, 255, 0.06)
        box-shadow: inset 0px 1px 2px rgba(239, 232, 232, 0.3)
        backdrop-filter: blur(4px)
        border-radius: 8px
        input[type='search']
            background: none
            border: none
            width: 380px
            font-weight: 500
            font-size: 14px
            color: #DCDCDC
            &::placeholder
                font-weight: 500
                font-size: 14px
                color: #DCDCDC
            &:focus
                outline: none
            &::-webkit-search-cancel-button
                -webkit-appearance: none
            &::-ms-clear
                appearance: none
    &__table
        width: 100%
        height: 100%
.workingArea
    margin-top: 20px
    background: rgba(80, 110, 131, 0.2)
    box-shadow: inset 0px 1px 2px rgba(239, 232, 232, 0.6)
    backdrop-filter: blur(15px)
    border-radius: 20px
    padding: 25px 30px 75px 30px
    height: 770px
    overflow: scroll
    -ms-overflow-style: none
    scrollbar-width: none
    &::-webkit-scrollbar 
        display: none
    .table
        width: 100%
        border-collapse: separate
        border-spacing: 0 5px
        position: relative
    th
        background: rgba(19, 24, 31, 0.7)
        height: 50px
        font-weight: 700
        color: #9C9BD6
        font-size: 24px
        position: sticky
    th:first-of-type
        width: 125px
        border-top-left-radius: 10px
        border-bottom-left-radius: 10px
    th:nth-of-type(2)
        width: 825px
    th:nth-of-type(3)
        width: 175px
    th:nth-of-type(4)
        width: 175px
    th:nth-of-type(5)
        display: flex
        justify-content: center
        align-items: center
        border-top-right-radius: 10px
        border-bottom-right-radius: 10px
        height: 65px
    tr
        box-shadow: inset 0px 1px 2px rgba(239, 232, 232, 0.4)
        border-radius: 10px
        height: 75px
        margin-top: 5px
    .deleteBtn, .editBtn
        width: 30px
        height: 30px
        background: #33335A
        border-radius: 5px
        display: flex
        align-items: center
        justify-content: center
        border: none
        .edit
            width: 18px
            height: 18px
    input
        width: 0
        height: 0
        position: relative
        cursor: pointer
        &:before 
            content: ""
            display: block
            position: absolute
            width: 20px
            height: 20px
            top: -85%
            left: -85%
            background: rgba(255, 255, 255, 0.06)
            box-shadow: inset 0px 1px 2px rgba(239, 232, 232, 0.6)
            border-radius: 4px
            transform: translate(35%, -85%)
        &:checked:after 
            content: ""
            display: block
            position: absolute
            width: 8px
            height: 15px
            border: 1.5px solid #73FFF2
            border-width: 0 2px 2px 0
            transform: translate(160%, -100%) rotate(45deg)
            top: -85%
            left: -100%
    thead
        tr
            height: 65px
    td
        position: relative
        height: 75px
        background: rgba(23, 35, 51, 0.7)
        font-weight: 600
        font-size: 16px
        color: rgba(239, 232, 232, 0.6)
    td:first-of-type, td:nth-of-type(5)
        padding: 22px 50px
    td:first-of-type
        border-top-left-radius: 10px
        border-bottom-left-radius: 10px
    td:nth-of-type(5)
        border-top-right-radius: 10px
        border-bottom-right-radius: 10px
    td:nth-of-type(3):hover
        opacity: 75%
        cursor: pointer
        &:hover::before 
            content: attr(data-tooltip)
            position: absolute
            top: -30px
            left: 0
            width: 100%
            background-color: #000
            color: #fff
            padding: 5px
            border-radius: 5px
            font-size: 14px
            text-align: center
            
        
aside
    width: 325px
    background: rgba(80, 110, 131, 0.2)
    box-shadow: inset 0px 1px 2px rgba(239, 232, 232, 0.6)
    border-radius: 8px
    display: flex
    justify-content: center
    align-items: center
    .wrapper
        width: 290px
        height: 194px
        display: flex
        flex-direction: column
        input[type='text']
            @include inputField
            &:nth-of-type(2)
                margin-top: 22px
        .submition
            @include wrapper
            input[type='button']
                width: 136px
                height: 30px
                margin-top: 22px
                background: #73FFF2
                border-radius: 8px
                color: #253142
                font-weight: 600
                font-size: 10px
                border: none
                &:nth-of-type(2)
                    background: #DE282C
                    color: #fff